In [2]:
# Import dulu
import pandas as pd
import matplotlib as plt

# Terus di read
phones = pd.read_csv("phones_data.csv")

In [3]:
# Format dataset 
import os
print(os.path.splitext("phones_data.csv")[1])

.csv

In [4]:
# Dimensi dataset
print(f"{len(phones)} baris {len(phones.columns)} kolom")

1224 baris 13 kolom

In [5]:
# Ukuran file dataset
import os
print(os.path.getsize("phones_data.csv"), "bytes")

115924 bytes

In [22]:
# Atribut dalam dataset
print("Atribut yang terdapat di dalam dataset antara lain: ")
for i in range (1, len(phones.columns)) :
   print(f"{i}. {phones.columns[i]}")

Atribut yang terdapat di dalam dataset antara lain:
1. brand_name
2. model_name
3. os
4. popularity
5. best_price
6. lowest_price
7. highest_price
8. sellers_amount
9. screen_size
10. memory_size
11. battery_size
12. release_date

In [31]:
# operating system
print("Operating system hp")
print(phones["os"].value_counts())

Operating system hp
Android         915
iOS             103
OxygenOS          3
WindowsPhone      3
EMUI              2
KAIOS             1
Name: os, dtype: int64

In [30]:
# popularity
print("Popularitas HP")
print(phones.sort_values(["popularity"], ascending=[1]))

Popularitas HP
      Unnamed: 0    brand_name  \
859          859        S-TELL
138          138           AGM
988          988  Sigma mobile
549          549       myPhone
935          935         Viaan
...          ...           ...
449          449       Samsung
1124        1124         Apple
741          741        Xiaomi
734          734        Google
1147        1147         Apple

                                          model_name       os  popularity  \
859                                       S1-07 Gold      NaN           1
138                                A10 6/128GB Black  Android           2
988                        X-treme PQ24 Black/Orange  Android           3
549                              Hammer Energy Black  Android           4
935                                     V241 (Black)      NaN           5
...                                              ...      ...         ...
449           Galaxy M51 6/128GB Black (SM-M515FZKD)  Android        1220
1124                    iPhone 11 64GB Black (MWLT2)      iOS        1221
741                  Poco X3 NFC 6/128GB Cobalt Blue  Android        1222
734                      Pixel 4a 6/128GB Just Black  Android        1223
1147  iPhone 12 Pro 128GB Pacific Blue (MGMN3/MGLR3)      iOS        1224

      best_price  lowest_price  highest_price  sellers_amount  screen_size  \
859        299.0           NaN            NaN               1         1.80
138       5628.0        5297.0         6584.0              11         5.70
988       2999.0           NaN            NaN               1         5.00
549       5600.0           NaN            NaN               1         5.00
935        326.0         222.0          373.0              14         2.40
...          ...           ...            ...             ...          ...
449       9620.0        8555.0        10394.0              55         6.70
1124     20889.0       18200.0        26499.0              93         6.10
741       7152.0        6836.0         7999.0              59         6.67
734      12106.0       11740.0        12999.0              37         5.81
1147     33992.0       31849.0        42999.0             101         6.10

      memory_size  battery_size release_date
859           NaN        1000.0       6-2017
138       128.000        4400.0      10-2020
988         8.000        5000.0       1-2017
549        16.000        5000.0       1-2017
935         0.032        1000.0       9-2016
...           ...           ...          ...
449       128.000        7000.0       9-2020
1124       64.000        3110.0       9-2019
741       128.000        5160.0       9-2020
734       128.000        3140.0       8-2020
1147      128.000        2815.0      10-2020

[1224 rows x 13 columns]

In [26]:
# best_price
print("Jumlah HP berdasarkan harga terbaik penjualan di Ukraina (UAH)")
print(phones["best_price"].value_counts())

print("\nRange harga terbaik penjualan")
print("min", phones["best_price"].min())
print("max:", phones["best_price"].max())

Jumlah HP berdasarkan harga terbaik penjualan di Ukraina (UAH)
2999.0     8
2299.0     5
4099.0     5
252.0      5
3490.0     4
          ..
12169.0    1
21175.0    1
21222.0    1
22670.0    1
907.0      1
Name: best_price, Length: 970, dtype: int64

Range harga terbaik penjualan
min 214.0
max: 56082.0

In [20]:
# lowest_price
print("Jumlah HP berdasarkan harga terendah penjualan di Ukraina (UAH)")
print(phones["lowest_price"].value_counts())
print("\nRange harga terendah penjualan")
print("min:", phones["lowest_price"].min())
print("max:", phones["lowest_price"].max())

Jumlah HP berdasarkan harga terendah penjualan di Ukraina (UAH)
4999.0     9
3549.0     8
499.0      8
2199.0     6
599.0      6
          ..
28948.0    1
18920.0    1
20230.0    1
20290.0    1
785.0      1
Name: lowest_price, Length: 666, dtype: int64

Range harga terendah penjualan
min: 198.0
max: 49999.0

In [19]:
# highest_price
print("Jumlah HP berdasarkan harga tertinggi penjualan di Ukraina (UAH)")
print(phones["highest_price"].value_counts())
print("\nRange harga tertinggi penjualan")
print("min:", phones["highest_price"].min())
print("max:", phones["highest_price"].max())

Jumlah HP berdasarkan harga tertinggi penjualan di Ukraina (UAH)
3299.0     8
8999.0     7
3999.0     7
7999.0     6
3399.0     6
          ..
16476.0    1
15469.0    1
34640.0    1
34505.0    1
944.0      1
Name: highest_price, Length: 648, dtype: int64

Range harga tertinggi penjualan
min: 229.0
max: 69999.0

In [7]:
# sellers_amount
print("Jumlah HP berdasarkan banyak penjual")
print(phones["sellers_amount"].value_counts())
print("\nRange banyak penjual")
print("min:", phones["sellers_amount"].min())
print("max:", phones["sellers_amount"].max())

Jumlah HP berdasarkan banyak penjual
1     235
2     119
3      72
4      57
5      45
     ...
99      1
83      1
69      1
59      1
68      1
Name: sellers_amount, Length: 94, dtype: int64

Range banyak penjual
min: 1
max: 125

In [8]:
# screen_size
print("Jumlah HP berdasarkan ukuran layar (inch)")
print(phones["screen_size"].value_counts())
print("\nRange ukuran hp dibuat")
print("min:", phones["screen_size"].min())
print("max:", phones["screen_size"].max())

Jumlah HP berdasarkan ukuran layar (inch)
5.50    103
2.40     81
6.50     78
6.30     60
5.00     58
       ...
2.30      1
5.81      1
6.24      1
7.60      1
3.50      1
Name: screen_size, Length: 82, dtype: int64

Range ukuran hp dibuat
min: 1.4
max: 8.1

In [9]:
# memory_size
print("Jumlah HP berdasarkan ukuran memori HP dalam GB")
print(phones["memory_size"].value_counts())
print("\nRange ukuran hp dibuat")
print("min:", phones["memory_size"].min())
print("max:", phones["memory_size"].max())

Jumlah HP berdasarkan ukuran memori HP dalam GB
64.0000      295
128.0000     285
32.0000      179
16.0000      122
256.0000      85
0.0320        62
512.0000      36
8.0000        19
4.0000         8
0.0040         6
0.0160         4
0.0640         4
1000.0000      3
0.0032         3
0.1280         1
Name: memory_size, dtype: int64

Range ukuran hp dibuat
min: 0.0032
max: 1000.0

In [10]:
# battery_size
print("Jumlah HP berdasarkan ukuran bateri dalam mAh")
print(phones["battery_size"].value_counts())
print("\nRange ukuran bateri HP")
print("min:", phones["battery_size"].min())
print("max:", phones["battery_size"].max())

Jumlah HP berdasarkan ukuran bateri dalam mAh
4000.0     158
5000.0     109
3000.0      87
4500.0      54
800.0       40
          ...
3520.0       1
6200.0       1
2400.0       1
10300.0      1
18800.0      1
Name: battery_size, Length: 151, dtype: int64

Range ukuran bateri HP
min: 460.0
max: 18800.0

In [11]:
# release_date
print("Jumlah HP berdasarkan tahun dibuat")
print(phones["release_date"].value_counts())
print("\nRange tahun HP dibuat")
print("min:", phones["release_date"].min())
print("max:", phones["release_date"].max())

Jumlah HP berdasarkan tahun dibuat
10-2020    79
9-2020     48
8-2020     46
7-2020     43
11-2019    42
           ..
1-2015      1
1-2013      1
12-2014     1
2-2021      1
4-2014      1
Name: release_date, Length: 73, dtype: int64

Range tahun HP dibuat
min: 1-2013
max: 9-2020

In [42]:
# sampel data
print(phones.head(10))

   Unnamed: 0 brand_name                                    model_name  \
0           0    ALCATEL          1 1/8GB Bluish Black (5033D-2JALUAA)
1           1    ALCATEL  1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
2           2    ALCATEL  1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
3           3    ALCATEL  1 5033D 1/16GB Volcano Black (5033D-2LALUAF)
4           4      Nokia                           1.3 1/16GB Charcoal
5           5      Honor                               10 6/64GB Black
6           6      Honor                           10 Lite 3/32GB Blue
7           7      Honor                          10 Lite 4/64GB Black
8           8      Honor                          10 lite 3/128GB Blue
9           9      Honor                          10 lite 3/64GB Black

        os  popularity  best_price  lowest_price  highest_price  \
0  Android         422      1690.0        1529.0         1819.0
1  Android         323      1803.0        1659.0         2489.0
2  Android         299      1803.0        1659.0         2489.0
3  Android         287      1803.0        1659.0         2489.0
4  Android        1047      1999.0           NaN            NaN
5  Android          71     10865.0       10631.0        11099.0
6  Android         424      3999.0           NaN            NaN
7  Android         134      4973.0        4733.0         5295.0
8  Android         477      5100.0        4990.0         5222.0
9  Android         215      4948.0        4646.0         5372.0

   sellers_amount  screen_size  memory_size  battery_size release_date
0              36         5.00          8.0        2000.0      10-2020
1              36         5.00         16.0        2000.0       9-2020
2              36         5.00         16.0        2000.0       9-2020
3              36         5.00         16.0        2000.0       9-2020
4              10         5.71         16.0        3000.0       4-2020
5               2         5.80         64.0        3400.0       6-2018
6               2         6.21         32.0        3400.0      12-2018
7               6         6.21         64.0        3400.0       1-2019
8               3         6.21        128.0        3400.0       1-2021
9               8         6.21         64.0        3400.0      12-2018

In [49]:
# sorting best_price ascending
bestPriceAscending = phones.sort_values(["best_price"], ascending=[0])
# sampel data
print(bestPriceAscending[0:10])

      Unnamed: 0 brand_name  \
600          600     HUAWEI
432          432    Samsung
543          543    Samsung
1156        1156      Apple
1150        1150      Apple
1157        1157      Apple
1151        1151      Apple
915          915  Microsoft
1135        1135      Apple
517          517    Samsung

                                             model_name       os  popularity  \
600        Mate Xs 8/512GB Interstellar blue (51095CSQ)  Android         740
432                          Galaxy Fold 12/256GB Black  Android         298
543   Galaxy Z Fold2 12/256GB Mystic Black (SM-F916B...  Android        1099
1156  iPhone 12 Pro Max 512GB Dual Sim Pacific Blue ...      iOS         872
1150  iPhone 12 Pro 512GB Dual Sim Pacific Blue (MGLM3)      iOS         724
1157       iPhone 12 Pro Max 512GB Pacific Blue (MGDL3)      iOS        1103
1151     iPhone 12 Pro 512GB Pacific Blue (MGMX3/MGM43)      iOS         873
915                   Surface Duo 6GB/256GB (TGM-00001)  Android         501
1135    iPhone 11 Pro Max 512GB Dual Sim Silver (MWF62)      iOS         379
517   Galaxy S21 Ultra 16/512GB Phantom Black (SM-G9...  Android        1136

      best_price  lowest_price  highest_price  sellers_amount  screen_size  \
600      56082.0       49999.0        69999.0               6          NaN
432      55338.0       45799.0        59999.0               4          7.3
543      51460.0       44809.0        59999.0              33          7.6
1156     49242.0       45120.0        64999.0              33          6.7
1150     46503.0       44199.0        50760.0              29          6.1
1157     46325.0       43396.0        57999.0              92          6.7
1151     44716.0       41996.0        51999.0              82          6.1
915      44232.0       42999.0        46879.0               5          8.1
1135     42968.0       37639.0        46399.0              34          6.5
517      42649.0       36899.0        43999.0              26          6.8

      memory_size  battery_size release_date
600         512.0        4500.0       7-2020
432         256.0        4380.0      11-2019
543         256.0        4500.0       8-2020
1156        512.0        3687.0      11-2020
1150        512.0        2815.0      10-2020
1157        512.0        3687.0      10-2020
1151        512.0        2815.0      10-2020
915         256.0        3577.0       1-2021
1135        512.0        3969.0      10-2019
517         512.0        5000.0       1-2021

In [53]:
# sorting best_price descending
bestPriceDescending = phones.sort_values(["best_price"], ascending=[1])
# sampel data
print(bestPriceDescending[0:10])

      Unnamed: 0 brand_name            model_name   os  popularity  \
141          141      Astro        A144 Black/Red  NaN         519
1093        1093       Nomi           i144m Black  NaN         492
1094        1094       Nomi            i144m Blue  NaN         844
1091        1091       Nomi             i144c Red  NaN         409
1092        1092       Nomi             i144c Red  NaN         398
904          904      Jinga    Simple F200n Black  NaN         292
931          931      Viaan            V182 Black  NaN          19
1090        1090       Nomi           i144c Black  NaN         486
905          905      Jinga    Simple F200n Black  NaN         331
150          150     Rezone  A170 Point Dark Blue  NaN         156

      best_price  lowest_price  highest_price  sellers_amount  screen_size  \
141        214.0         199.0          229.0               2         1.77
1093       220.0         209.0          229.0               4         1.44
1094       235.0         198.0          314.0              24         1.44
1091       241.0         218.0          291.0              18         1.44
1092       241.0         218.0          291.0              18         1.44
904        249.0           NaN            NaN               1         1.77
931        249.0         239.0          259.0               2         1.80
1090       249.0         219.0          317.0              14         1.44
905        249.0           NaN            NaN               1         1.77
150        252.0         220.0          333.0              20         1.77

      memory_size  battery_size release_date
141         0.032         600.0       9-2019
1093          NaN         600.0       9-2020
1094          NaN         600.0      12-2019
1091          NaN         600.0       9-2020
1092          NaN         600.0       9-2020
904         0.032         600.0       2-2020
931         0.032         600.0       9-2017
1090          NaN         600.0       9-2020
905         0.032         600.0       2-2020
150           NaN         600.0       4-2019

In [56]:
phones.describe()

,Unnamed: 0,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size
count,1224.000000,1224.000000,1224.000000,964.000000,964.000000,1224.000000,1222.000000,1112.000000,1214.000000
mean,611.500000,612.500000,7941.206699,7716.018672,9883.410788,16.743464,5.394378,95.700059,3608.201812
std,353.482673,353.482673,8891.836260,8560.959059,11514.936818,20.597006,1.476991,111.922576,1668.268774
min,0.000000,1.000000,214.000000,198.000000,229.000000,1.000000,1.400000,0.003200,460.000000
25%,305.750000,306.750000,2599.750000,2399.000000,2887.000000,2.000000,5.162500,32.000000,2900.000000
50%,611.500000,612.500000,4728.000000,4574.000000,5325.500000,8.000000,6.000000,64.000000,3687.000000
75%,917.250000,918.250000,9323.000000,9262.250000,12673.750000,26.000000,6.400000,128.000000,4400.000000
max,1223.000000,1224.000000,56082.000000,49999.000000,69999.000000,125.000000,8.100000,1000.000000,18800.000000